.c-title-h1 {
  font-style: normal;
  font-weight: 700;
  font-size: $font-h1;
  line-height: 64px;
  text-align: center;
  color: $white;
}

.c-title-h2 {
  font-size: $font-h2;
  text-align: center;
  color: $white;
}

.c-title-h3 {
  font-size: $font-h3;
  text-align: center;
  color: $white;
}
