$font-family: 'Chalkboard', 'PingFangSC-Medium', 'PingFang SC', 'Segoe UI', 'Lucida Grande',
Helvetica, Arial, 'Microsoft YaHei', 'FreeSans', 'Arimo', 'Droid Sans',
'wenquanyi micro hei', 'Hiragino Sans GB', 'Hiragino Sans GB W3', sans-serif;

$font-h1: 50px;
$font-h2: 40px;
$font-h3: 25px;
$white: rgba(255, 255, 255, 1);
$red: red
