.description {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}

.description-second {
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}