@media (max-width: 800px) {
  .home {
    .cats-top {
      background: url("@/assets/images/mobile/bg01.png") no-repeat;
      background-size: cover;
    }

    .cats-content {
      padding-top: 200px;
      background: url("@/assets/images/mobile/bg02.png") no-repeat;
      background-size: cover;
    }

    .cats-title {
      font-size: 110px;
      line-height: 90px;
    }

    .cloud-box {
      height: 400px;
      top: 95px;

      .bg_cloud1 {
        top: 112px;
        left: 0;
      }

      .bg_cloud2 {
        top: 0;
        left: 0;
      }

      .bg_cloud3 {
        top: 71vw;
        right: 0;
      }

      .bg_cloud4 {
        display: none;
      }
      img {
        width: 40vw;
      }
    }

    .grass {
      height: 600px;
      bottom: -330px;
      overflow: hidden;

      .bg_grass1 {
        width: 54.5%;
        left: -10%;
        top: 220px;
      }

      .bg_grass2 {
        display: none;
      }

      .bg_grass3 {
        width: 70%;
        right: -25%;
        top: 200px;
      }

      .bg_mailbox {
        width: 48.5%;
        top: 1200px;
        right: -10%;
      }

      .bg_ball {
        width: 14%;
        left: 28px;
        top: 345px;
      }

      .bg_cat {
        width: 42.4%;
        top: 166px;

        img {
          width: 100%;
        }
      }

      .access-btn {
        width: 100%;
        padding: 12px 0 20px;
        font-size: 20px;
        bottom: 310px;
        border-radius: 10px;
      }
    }
  }
}
