@media (max-width: 800px) {
  .nav-header {
    height: 16vw;
    padding: 0 13vw;

    .logo {
      width: 8vw;

      img {
        width: 100%;
      }
    }

    .nav-bar {
      display: none;
    }

    .nav-bar-mobile {
      width: 4.8vw;
      z-index: 2;

      img {
        width: 100%;
      }
    }
  }
}
